
.table-container {
/* display: flex; */
/* justify-content: center; */
font-family: Arial, Helvetica, sans-serif;
font-size: 12pt;
position: relative;
width: 100%;
height:0px;
padding-bottom: 100%;
}

table {
border-collapse: collapse;
position: absolute;
/* padding-top: 0px; */
top: 0;
bottom: 0;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
margin-top: 45px;
width: 50%;
height: 50%;
/* height: 500px; */
border-radius: 10px; /* Add border radius to round corners */
overflow: hidden; /* Hide overflowing content */
}

.whole_row:hover td {
    opacity: 0.75;
    cursor: pointer;
}


th, td {
text-align: center; /* Center the text in all columns */
color: #333; /* Darker text color */

}

th {
background-color: #f2f2f2;
font-weight: bold;
}

.activity-cell {
padding: 0px;
position: relative;
width:50%;
}

.activity-progress {
position: absolute;
top: 0;
left: 0;
height: 100%;
z-index: 1;
}

.yellow-progress {
background-color: gold;
}

.green-progress {
background-color: mediumturquoise;
}

.red-progress {
background-color: tomato;
}

.activity-text {
position: relative;
z-index: 2;
color: black; /* Set font color to black */
}

/* Set default background colors based on progress bar colors */
.activity-cell.yellow-progress {
background-color: lightgoldenrodyellow;
}

.activity-cell.green-progress {
background-color: lightgreen;
}

.activity-cell.red-progress {
background-color: pink;
}

/* Background color scaling for streak cells */
.streak-cell {
color: black; /* Set text color to black */
background-color: cornflowerblue; /* Change to cornflower blue */
opacity: 0.5; /* Base opacity */
}

/* Customize background color opacity based on streak number */
.streak-cell{
    opacity: 1.0;
    filter: brightness(0.5);
    width:25%;
}
/* Streak text color and opacity */
.streak-text {
color: black;
}

.max-cell {
padding: 0;
position: relative;
background-color: #c585f7;
width:25%;
}


.Button_Row {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    position: relative;
}

.Submit_Button {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.Clear_Button {
    width: 40%;
    display: flex;
    float: left;
}
.Empty_Space {
    width: 20%;
    display: flex;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #333;
}
.Submit_Button button {
    width: 75%;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.Clear_Button button {
    width: 75%;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.Clear_Button:hover button{
    width: 100%;
    transition: width 0.3s;
    background-color: tomato;
    cursor: pointer;
}

.Submit_Button:hover button{
    width: 100%;
    transition: width 0.3s;
    background-color: mediumturquoise;
    cursor: pointer;
}

@media (max-width: 600px) {
table {
    height: 100%;
    width: 100%;
}


.Button_Row {
    width: 100%;
}



}